@model AppStock.Models.Fournisseur

@{
    ViewBag.Title = "Edit";
}
<style>
    .form-horizontal .control-label {
        text-align: left;
    }
</style>

<h3>Editer un fournisseur</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.matricule, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.matricule, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.matricule)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nom_fournisseur, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.nom_fournisseur, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nom_fournisseur)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.adresse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.adresse, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.adresse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telephone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.telephone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.telephone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editer" class="btn btn-block btn-primary" />
            </div>
        </div>
    </div>
}
<hr />
<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


