@model IEnumerable<AppStock.Models.Employee>

@{
    ViewBag.Title = "Employée";
}


<h2>Employées</h2>

<p>
    @Html.ActionLink("Ajouter nouveau employée", "Create")
</p>
<table class="table">
    <tr class="tr2">
        
        <th>
            @Html.DisplayNameFor(model => model.matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fonction.nom_fonction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identifiant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motdepasse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.matricule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fonction.nom_fonction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identifiant)
        </td>
        <td>
            @Html.Name("******************")
        </td>
        <td>
            @Html.ActionLink("Editer", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Détails", "Details", new { id=item.Id }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
