@model AppStock.Models.Commande

@{
    ViewBag.Title = "Delete";
}
<style>
    .dl-horizontal dt {
        text-align: left;
    }
</style>



<h2>Suppression</h2>

<h3>Êtes-vous sûr de vouloir supprimer cette commande ?</h3>

    <div>
       
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.reference_commande)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.reference_commande)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.fournisseur.nom_fournisseur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fournisseur.nom_fournisseur)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.article.nom_article)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.article.nom_article)
            </dd>
           
            <dt>
                @Html.DisplayNameFor(model => model.quantite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantite)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.observation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.observation)
            </dd>


        </dl>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

             <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
        }
    </div>
